

div {
	margin: 0;
	padding: 0;
}

main {
	margin: 70px;
}

.calc__body {
	margin: auto;
	box-sizing: border-box;
	width: 364px;
	height:582px;
	background-color: #17171C;
	margin: auto;
	padding: 21px 20px 21px 20px;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(8, 1fr);
}

.calc__output{
	grid-column: span 8;
	height: 96px;
	color: white;
	text-align: right;
	font-family: 'Work Sans',sans-serif;
	font-weight: 300;
	font-size: 96px;
	max-width: 100%;
}


button {
	display: inline-block;
	grid-column: span 2;
	border-radius: 24px;
	background-color: #2E2F38;
	border: none;
	color: white;
	font-family: 'Work Sans',sans-serif;
	font-weight: normal;
	font-size: 32px;
	height: 72px;
	cursor: pointer;
}

button:active {
	box-shadow: 0 0 3px 1px black inset;
}

button:hover{
	background: #55596e;
}
.operator {
	background: #4B5EFC;
}

.operator:hover {
	background: #7f8bf3;
}

.medium {
	grid-column: span 4;
}

.big {
	grid-column: span 6;
}